html>body
{
	position: absolute;
	box-sizing: border-box;
	min-width: 800px;
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	background: #1E1E2E;
	font-variant: small-caps;
	font-family: Andale Mono, monospace;
}

#menu
{
	position: fixed;
	float: left;
	height: 100%;
	width: 130px;
	text-align: center;
}

hr
{
	width: 60%;
	padding:0px;
	border: 1px solid #161743;
}

#menu nav{
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 85px;
	height: auto;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 1px #111;
	color: #FFF;
}

#menu nav ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#menu nav li{
	width: 100%;
	height: 60px;
	list-style-type: none;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
}

#menu nav a {
	height: auto;
	width: 100%;
	padding: 0px 0px;
	margin: 0px;
}

#menu nav a ~ a {
	padding: 0px 0px;
	margin-left: 0px;
}

#menu-roles{
	background-image: url(../img/menu-roles.png);
}
#menu-roles:hover{
	background-image: url(../img/menu-roles-orange.png);
}
#menu-etudiant{
	background-image: url(../img/menu-etudiant.png);
}
#menu-etudiant:hover{
	background-image: url(../img/menu-etudiant-orange.png);
}
#menu-actualites{
	background-image: url(../img/menu-actualites.png);
}
#menu-actualites:hover{
	background-image: url(../img/menu-actualites-orange.png);
}
#menu-boutique{
	background-image: url(../img/menu-boutique.png);
}
#menu-boutique:hover{
	background-image: url(../img/menu-boutique-orange.png);
}
#menu-images{
	background-image: url(../img/menu-images.png);
}
#menu-images:hover{
	background-image: url(../img/menu-images-orange.png);
}
#menu-tournoi{
	background-image: url(../img/menu-tournoi.png);
}
#menu-tournoi:hover{
	background-image: url(../img/menu-tournoi-orange.png);
}
#menu-idees{
	background-image: url(../img/menu-idees.png);
}
#menu-idees:hover{
	background-image: url(../img/menu-idees-orange.png);
}
#menu-minijeu{
	background-image: url(../img/menu-minijeu.png);
}
#menu-minijeu:hover{
	background-image: url(../img/menu-minijeu-orange.png);
}

#page
{
	float: right;
	height: auto;
	width: calc(100% - 130px);
	margin-top: 50px;
}

#title
{
	box-sizing: border-box;
	height: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background: #EA6018;
	color: #1E1E2E;
	font-size: 30px;
	padding-left: 20px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 2px 1px #111;
}


#contenu
{
	box-sizing: border-box;
	background: #27293D;
	height: auto;
	width: 90%;
	padding-left: 30px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px #222;
	text-align: center;
	color: #DDD;
	font-size: 22px;
}

#contenuTitle
{
	height: auto;
	width: 100%;
	font-size: 25px;
	color: #CCC;
	cursor: pointer;
	text-align: left;
}

.plus {
	background-image: url(../img/plus.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 35px;
}

#creerRoleMiddle
{
	display: none;
	box-sizing: border-box;
	height: auto;
	width: calc(100% - 20px);
	margin-left: auto;
	margin-right: auto;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	color: #DDD;
}

.role
{
	box-sizing: border-box;
	height: auto;
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	
	text-align: center;
}

.role + .role{
	margin-top: 10px;
}

.roleTop
{
	height: 25px;
	width: 100%;
	
	border-radius: 5px;
	color: #EA6018;
	font-size: 22px;
	font-weight: bold;
}

.roleTitle
{
	float: left;
	height: 100%;
	width: calc(100% - 100px);
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
}

.roleDescription
{
	float: left;
	height: 100%;
	width: 30px;
	margin-left: 10px;
	cursor: help;
}

.roleNumber
{
	float: left;
	height: 100%;
	width: 50px;
	margin-left: 10px;
	background: #EA6018;
	border-radius: 5px;
	color: #FFF;
}

.roleMiddle
{
	display: none;
	height: auto;
	width: 500px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: calc((100% - 600px) / 2);
	background: #27293D;
	color: #DDD;
}

.roleBottom
{
	height: 5px;
	width: 500px;
	margin-left: calc((100% - 600px) / 2);
	background: #EA6018;
	border-radius: 0px 0px 5px 5px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr {
	color: #FFF;
	font-size: 16px;
}

th {
	font-size: 35px;
	padding: 15px 0px;
}

tr + tr{
	border-top: 1px solid #1E1E2E;
}

tr:hover td{
	color: #EA6018;
}

td {
	word-break: break-all;
}

button{
	box-shadow: 0px 0px 2px 1px #111;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 3px;
	border: none;
	border-radius: 5px;
	color: #1E1E2E;
	background: #9294B8;
}

button:hover{
	cursor: pointer;
	background: #A9AAC7;
}

label{
	font-size: 20px;
	color: #CCC;
}

input[type=text], input[type=search]{
	height: 25px;
}

input[type=text], input[type=search], textarea{
	box-sizing: border-box;
	width: 300px;
	background: #474B70;
	resize:none;
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #DDD;
}

input[type="number"] {
	width: 70px;
	text-align: center;
	margin-bottom: 3px;
}

h1{
	font-size: 25px;
	margin: 0px;
	margin-bottom: 10px;
	color: #EA6018;
}

.identite {
	visibility: hidden;
}

tr:hover .identite {
	visibility: visible;
}



.loader {
	width: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #EA6018;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


