
html body {
    background-color: #102030;
}
.page-footer
{
    text-align: center;
    background-color: #EA6018;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.page-footer .col-sm-4
{
    color: black;
   
}

.page-footer br
{
    margin-top: 1em; 
   
}

.page-footer .planDuSite br
{
    margin-top: 0em; 
   
}



.page-footer textarea
{
    margin-top: 2em;
    border-radius: 1em;
    padding-top: 0.4em; 
    padding-bottom: 0.4em; 
    margin-bottom: 1em;
    }   

.page-footer h4
    {
    text-align: center;
}

.page-footer a
{
   color: black;
}