h3 {
	font-size: 30px;
	width: 90%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background: #EA6018;
	box-shadow: 0px 0px 2px 1px #111;
	border-radius: 5px;
	text-align: center;
	font-variant: small-caps;
	font-family: Andale Mono, monospace;
	color: #1E1E2E;
}

label {
	padding-left: 10px;
	font-size: 15px;
	color: #1E1E2E;
}

legend {
	color: #161743;
	font-weight: bold;
}

::placeholder {
	padding-left: 10px;
	opacity: 0.5;
	font-size: 14px;
}

input[type=text], input[type=mail], input[type=password] {
	box-sizing: border-box;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #000;
	display: block;
	font-size: 15px;
	padding: 4px 0px;
}

input[type=submit] {
	margin-top: 5px;
	padding-top: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 2px;
	background: #161743;
	color: #FFF;
	border: 0px;
	border-radius: 10px;
	font-size: 15px;
}

input[type=submit]:hover {
	background: #EA6018;
	cursor: pointer;
}

input[type=submit]:disabled {
	background: #BBB;
	cursor: default;
}

select, input[type=number] {
	font-size: 16px;
	padding: 2px 2px;
}

input:focus {
	outline: none;
}


.inscription-form input:required {
 background-image: radial-gradient(#EA6018 18%, transparent 20%);
  background-size: 1em 1em;
  background-position: right;
  background-repeat: no-repeat
}

.inscription-form input[type=text]:focus:invalid, .inscription-form input[type=mail]:focus:invalid, .inscription-form input[type=password]:focus:invalid {
	border: 1px solid #f23434;
	box-shadow:inset 0px 0px 1px 1px #f23434;
}

.inscription-form input[type=text]:focus:valid {
	border: 1px solid #34a234;
	box-shadow:inset 0px 0px 1px 1px #34a234;
}

.inscription-form input:valid {
	background-image: none;
}

#rangAncienCP2I {
	display: none;
}












.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clearfix {display: block;}

#formulaire-responsive {
	max-width:600px /*-- à modifier en fonction de la largeur désirée --*/;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	padding-top: 10px;
	padding-bottom: 5px;
    width:95%;
	height: auto;
	background: #ddd;
	border: 1px solid #CCC;
	border-radius: 5px;
}
.rang-form {
	width: 100%;
}
.demi-colonne, .colonne {
	box-sizing: border-box;
	float: left;
	position: relative;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width:100%;
}

.colonne {
	text-align: center;
}


/**---------------- Media query ----------------**/
@media only screen and (min-width: 800px) { 
	.demi-colonne {
		width: 50%;
	}
}








.alert{padding:15px;margin-bottom:0px;border:1px solid transparent;border-radius:4px}
.alert h4{margin-top:0;color:inherit}
.alert .alert-link{font-weight:700}
.alert>p,.alert>ul{margin-bottom:0}
.alert>p+p{margin-top:5px}
.alert-dismissable,.alert-dismissible{padding-right:35px}
.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}
.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.alert-success hr{border-top-color:#c9e2b3}
.alert-success .alert-link{color:#2b542c}
.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.alert-info hr{border-top-color:#a6e1ec}
.alert-info .alert-link{color:#245269}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.alert-warning hr{border-top-color:#f7e1b5}
.alert-warning .alert-link{color:#66512c}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}
