/* 
.row{
	border: 3px black solid;
}


[class |= col]{

	border: 3px blue solid; 
	margin: 4px;
} */

html body .message {
		margin-bottom: 10px;
}

html body .user-name{
	color: white;
	height: 94px;
	text-align: center;
	padding-top: 10px;
}
html body .user-info{
	background-image: url(../img/fond_info_message.png);
	background-repeat:no-repeat;
	height: 200px;
	
	padding-top: 5 px;
}

html body .message-date{
	text-align: center;
	padding-top: 7px;
}

html body .message-content{
	background-color: #66ffcc;
	margin-left: 15px; 
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
/* 
.Topics th {
 background-color: #EA6018;
 border-bottom: solid 1px;
 border-width:10px;

}
.Topics{
border-collapse:collapse;
border: solid 2px;
width: 90%;
margin: auto;
border-width:10px;
}

.Topics td{
line-height:50px;
border-bottom: solid 1px;
border-width:10px;
border-style:hidden;
background-color:white;
}


body{background-color:#161743;}

.info{
 background-color: #EA6018;
 width: 20%;
 height:150px;
 margin:20px;

}
.info .nom td{
 font-weight:bold;
 font-size:40px;
 color: #F5D6B5;
 background-color:#161743;
 border-bottom:20px;
 padding:-2px;

}

.info tr td{
 bottom:0px;

 width:100%;
 height:100%;
}
.corp{
 background-color: #F5D6B5;
 width: 70%;
 height:150px;
 border-radius: 0px 20px 20px 0px;
}

.message table{
	display: inline-block;
	 margin:10px;
	
				

} */
