.section {
	width: 100%;
	height: auto;
	font-variant: small-caps;
	font-family: Andale Mono, monospace;
	padding-bottom: 50px;
	border-top: 5px solid #f5d6b5;
}

.fond-bleu {
	background-color: #161743;
}

.fond-orange {
	background-color: #EA6018;
}

.color-bleu {
	color: #161743;
}

.color-orange {
	color: #EA6018;
}

.fond-blanc {
	background-color: #f5d6b5;
}

.wrapper {
	display: flex;
	justify-content: center;
}

h1 {
	display: inline-block;
	width: auto;
	padding: 0px 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
	text-align: center;
	border-radius: 30px;
	margin-top: -30px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

@media only screen and (max-width: 340px) { 
	h1 {
		font-size: 30px;
		margin-top: -22px;
	}
}

.membre {
	width: 175px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 3px dotted #051020;
}

.membreRole {
	height: 30px;
	width: 100%;
	background: #27293D;
	color: #f5d6b5;
	font-size: 25px;
	text-align: center;
	border-bottom: 2px solid #051020;
}

.membreNom {
	height: auto;
	width: 100%;
	background: #27293D;
	color: #f5d6b5;
	font-size: 25px;
	text-align: center;
	border-top: 2px solid #051020;
}

.membre img {
	vertical-align: middle;
}

.actualite {
	max-width: 1200px;
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 3px dotted #b94b11;
	
	color: black;
	cursor: pointer;
}

.actualiteContenu {
	display: none;
}

.actualiteDescription {
	font-size: 25px;
}

.actualiteImage img {
	max-width: 100%;
	max-height: 400px;
}

.actualiteCreateur {
	box-sizing: border-box;
	width: 100%;
	padding-right: 20px;
	background: #b94b11;
	font-size: 20px;
	text-align: right;
	
}

h2 {
	width: auto;
	padding: 0px;
	line-height: 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 35px;
	text-align: center;
}

@media only screen and (max-width: 500px) { 
	h2 {
		font-size: 25px;
	}
	.actualiteDescription {
		font-size: 21px;
	}
}

@media only screen and (max-width: 340px) { 
	h2 {
		font-size: 20px;
	}
	.actualiteDescription {
		font-size: 18px;
	}
}