

nav{
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: #161743;
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px
}

nav ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav .nav-tab{
	/*float: left;*/
	display: inline-block;
	list-style-type: none; /* Suppression des puces */
	padding-top: 4px;
	height: 37px;
	background: #EA6018;
	border-bottom: 2px solid #051020;
	border-top: 1px solid #051020;
}

nav a{
	display: inline-block;
	color: #102030;
	text-decoration: none;
}

nav a:hover{
	color: #FFFFFF;
}


#contact-tab{
	border-radius: 0px 30px 30px 0px;
	border-right: 2px solid #051020;
}

#facebook-tab{
	padding-top: 7px;
	padding-right: 0px;
	height: 37px;
	text-align: center;
}
#facebook_logo{
	background-color: #FFFFFF;
	height: 21px;
	width: 20px;
	padding: 2px;
	border-radius: 10%

}

a:hover #facebook_logo{
	background-color:#102030;
}

#connect-tab{
	float: right;
	border-radius: 30px 0px 0px 30px;
	border-left: 2px solid #051020;
	background: #EA6018;
	font-size: 22px;
}

#connexion{
	display:none;
	position: fixed;
	height: auto;
	width: 210px;
	top: 37px;
	padding: 15px;
	padding-top: 20px;
	font-size: 14px;
	text-align: center;
	right: 0px;
	background: #DDD;
	border-radius: 30px 0px 0px 30px;
	border-top: 2px solid #051020;
	border-left: 2px solid #051020;
	border-bottom: 2px solid #051020;
}




 @media screen and (max-width: 728px) {
	nav {
		position: relative;
	}
}
/*Debug*/


/* html body nav [class|=row]
{
	border: 5px white solid;
=======
 	width: 190px;
>>>>>>> c70c8052497d11a698fed136e0f68f2da43255ee
}

